.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: orange;
  font-family: "Chewy", system-ui;
  margin: 0;
}

.header {
  text-align: center;
  margin: 25px;
  color: black;
  font-size: 50pt;
}

h2 {
  text-align: center;
  margin-top: -20px;
  margin-bottom: -40px;
  font-size: 20pt;
  color: red;
  text-decoration: underline;
}

#score {
  text-align: center;
  margin: 30px;
  color: red;
  font-size: 50pt;
  margin-bottom: 5pt;
}

#timer {
  text-align: center;
  margin: auto;
  font-size: 20pt;
  margin-bottom: 10px;
}

img {
  width: 100%;
  margin: auto;
}

.top {
  width: 40px;
}

.keys {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  margin-bottom: -10px;
}

.bottom {
  width: 40px;
  margin-top: -4px;
}

.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
}

.box {
  width: 30%;
  aspect-ratio: 1/1;
  border: 0px solid black;
  font-size: 64px;
  margin: 5pt;
  border-radius: 20pt;
  background-color: rgb(53, 41, 132);
}

.box img {
  display: none;
  position: relative;
}
.box.show img {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}

.buttons {
  display: flex;
  justify-items: center;
  margin-top: 10px;
}

#reset {
  font-family: "Chewy", system-ui;
  font-size: 12pt;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  border-color: white;
  width: 110pt;
}

#home {
  font-family: "Chewy", system-ui;
  font-size: 12pt;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  border-color: white;
  width: 110pt;
}

/* ---------------- */

h1 {
  text-align: center;
  margin: 25px;
  color: black;
  font-size: 30pt;
}

.key-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  max-height: 30%;
  margin: auto;
}

.bodytext {
  font-size: 20px;
  margin: auto;
  position: relative;
  width: 80%;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.warning {
  font-size: 20px;
  margin: auto;
  position: relative;
  width: 500px;
  justify-content: center;
  text-align: center;
  color: red;
  width: 50%;
  margin-bottom: 10px;
}

.cover-image {
  width: 20%;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 50px;
}

#begin {
  font-family: "Chewy", system-ui;
  font-size: 12pt;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  border-color: white;
  width: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}
