body {
  background-color: lightblue;
  font-family: system-ui, sans-serif;
  margin: 0;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -20px;
}

.header {
  text-align: center;
  margin: 30px;
  color: black;
}

#score {
  text-align: center;
  margin: 30px;
  color: red;
}
.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: auto;
}

.box {
  width: 33%;
  aspect-ratio: 1/1;
  border: 0px solid black;
  font-size: 64px;
  margin: auto;
}

.box img {
  display: none;
  position: relative;
}

.box.show img {
  display: block;
  position: relative;
}

img {
  width: 80%;
  margin: auto;
}
