.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: orange;
  font-family: "Chewy", system-ui;
  margin: 0;
}

.header {
  text-align: center;
  margin: 30px;
  color: black;
  font-size: 50pt;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
  font-size: 20pt;
  color: red;
  text-decoration: underline;
}

#score {
  text-align: center;
  margin: 30px;
  color: red;
  font-size: 50pt;
  margin-bottom: 50pt;
}

#timer {
  text-align: center;
  margin: auto;
}

.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
}

.box {
  width: 30%;
  aspect-ratio: 1/1;
  border: 0px solid black;
  font-size: 64px;
  margin: 5pt;
  border-radius: 20pt;
  background-color: black;
}

.box img {
  display: none;
  position: relative;
}

.box.show img {
  display: block;
  position: relative;
}

img {
  width: 80%;
  margin: auto;
}
